# Игнорировать все файлы внутри папки media, но не саму папку
./app/media/*

# Игнорировать файл базы данных SQLite
./app/db.sqlite3

# Другие стандартные игнорируемые файлы для Django
*.pyc
__pycache__/
*.sqlite3
*.log
.env
.venv/
venv/
env/
.DS_Store
.idea/
.vscode/